.productCard {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}

.productImg {
    height: 200px;
    padding: 0 1rem;
}

.productCardInnerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}